.filepond--drop-label {
    border-radius: 0.5em;
    cursor: pointer;
    border: 1px dashed #999999 !important ;
  
    &:hover {
      background-color: #fff !important;
      border: 1px dashed #000000 !important;
    }
    &.error_audio {
      border: 1px dashed #f44336 !important;
    }
  }
  .filepond--credits {
    display: none;
  }
  .filepond--list {
    margin-top: 20px !important;
  }
  